.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 0 8px #ccc;
    border-radius: 6px;
  }
  
  .cart-item img {
    width: 100px;
  }
  
  .cart-item button {
    margin-left: auto;
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
  }
  
  .total-box {
    margin-top: 30px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }
  
    /* .qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .qty-box button {
    padding: 4px 10px;
  }
  
  .item-total {
    margin-left: auto;
    font-weight: bold;
  }  */