.product-grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    width: 220px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 4px;
  }
  
  .view-btn {
    display: inline-block;
    margin-top: 10px;
    background: purple;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
  }
  .search {
    width: 300px;
    padding: 8px;
    margin: 15px 0;
  }
  